<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>{{appTitle}}</title>
      <link rel="stylesheet" href="/stylesheets/style.css" />
   </head>

   <body>
      <nav>
         <a href="/pokemon">All Pokemon</a>
         {{#if user}}
            <a href="/pokemon/new">Add Pokemon</a>
         {{/if}}
         <a href="/signup">Sign Up</a>
         {{#if user}}
            <form style="display:inline" action="/logout" method="POST"><button>Logout</button></form>
         {{else}}
            <a href="/login">Log In</a>
         {{/if}}
         {{#if isAdmin}}
         <a href="/see-users">See Users</a>
         {{/if}}
      </nav>


      {{#if errorMessage}}
         <div style="background-color:#d13838">
            {{errorMessage}}
         </div>
      {{/if}}
      {{#if successMessage}}
         <div style="background-color:#42f557">
            {{successMessage}}
         </div>
      {{/if}}


         {{#if user}}
            <div>
               <h3>Welcome {{user.username}}</h3>
            </div>
         {{/if}}
      

      {{{body}}}

      <script src="/js/script.js"></script>
   </body>

</html>